{% extends 'base.html.twig' %}

{% block title %}Créer une Association{% endblock %}

{% block body %}
<center>
<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">Créer une nouvelle association</h1>

<style>
</style>

    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}

</center>
{% endblock %}