{% extends 'base.html.twig' %}

{% block title %}Les Anglais : votre partenaire e-commerce local{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1>Les Anglais, votre partenaire e-commerce local !</h1>

    <table>
    <td>Les Anglais
    
    
    </table>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/Les-anglais/src/Controller/LesAnglaisController.php'|file_link(0) }}">src/Controller/LesAnglaisController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/Les-anglais/templates/les_anglais/index.html.twig'|file_link(0) }}">templates/les_anglais/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
