{% extends 'base.html.twig' %}

{% block title %}Les Anglais : votre partenaire e-commerce local{% endblock %}

{% block body %}
<style>
</style>
    <center>

<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary"> Les Anglais, votre partenaire e-commerce local !</h1>
<br>
<container>
<div class="example-wrapper">
    <table>
    <td> <img src="http://placehold.it/700x400"/></td>
    <td>
        <h2> Qui sommes-nous ?</h2><br>
        <h5>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Non, ad libero consectetur error omnis aliquid! Eligendi neque 
            quam rerum laboriosam at maxime. Autem hic, aperiam provident officia ab harum quidem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Non, ad libero consectetur error omnis aliquid! Eligendi neque 
            quam rerum laboriosam at maxime. Autem hic, aperiam provident officia ab harum quidem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Non, ad libero consectetur error omnis aliquid! Eligendi neque 
            quam rerum laboriosam at maxime. Autem hic, aperiam provident officia ab harum quidem.
        </h5><br>
        <h3>Alors, interessés ??</h3><br>
        <a class="btn btn-danger">REJOIGNEZ-NOUS VITE !</a>
    </td>
    </table>
    <hr>
    <br><br>
    <h2> Qui nous sommes vraiment ?</h2><br>

    <table>
        <tr>
            <td> <img src="http://placehold.it/300x200"/></td>
            <td> <img src="http://placehold.it/300x200"/></td>
            <td> <img src="http://placehold.it/300x200"/></td>
            <td> <img src="http://placehold.it/300x200"/></td>
            <td> <img src="http://placehold.it/300x200"/></td>
        </tr>
        <tr>
            <td>Megan</td>
            <td>Corentin</td>
            <td>Raihau</td>
            <td>Joshua</td>
            <td>Caroline</td>
        </tr>
            <tr>
        </tr>
            <tr>
        </tr>
            <tr>
        </tr>
    </tr>
    </table>
    </container>

    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/Les-anglais/src/Controller/LesAnglaisController.php'|file_link(0) }}">src/Controller/LesAnglaisController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/Les-anglais/templates/les_anglais/index.html.twig'|file_link(0) }}">templates/les_anglais/index.html.twig</a></code></li>
    </ul> #}
    </center>
</div>
{% endblock %}
