{% extends 'base.html.twig' %}

{% block title %}Testing | Question
{% endblock %}

{% block body %}
	<style>
		h1,h2 {
			text-align: center;
		}
		.big {
			text-align: center;
			font-size: 3em;
		}
	</style>
	<div class="example-wrapper">
		<h1>❔ La question du moment ❓</h1>
		<p class="big">{{question}}
			?</p>
		<h2>Réponses</h2>
        <ul>
            {% for i in answers %}
                <li><p class="big">{{i}}</p></li>
            {% endfor %}
        </ul>
	</div>
{% endblock %}
