{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<section>
	<div>
		<h1>IMAGE</h1>
		<h1>
	</div>
	<div>
	<h2>Catégorie</h2>
	</div>
	<div><h1>Produits</h1></div>
	</section>
	<button>Gestions commande</button>
	<button>enregistrer</button>
{% endblock %}
