{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<section>
	{{form_start(form)}}
	<div>
		
	</div>
	<div></div>
	<div></div>

	{{form_end(form)}}
	</section>
	<button>Gestions commande</button>
	<button>enregistrer</button>
{% endblock %}
