{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<style>
    body {
        text-align:center;
    }
    section {
        width:900px;
        margin-left: auto;
        margin-right: auto;
        border: solid #000;
        display:inline-block;
        padding: 4px;

    }

    .image {
        width:50%;
        float:left;
    }

    .description {
        width:50%;
        float:right;
    }
</style>

<section><h1>NOM DU PRODUIT</h1>
    <div class="image">
    <img src="{{asset('images/produits/' ~ produit.image )}}"> 
    Image</div>
    <div class="description"><p>Description
    {{produit.description}}
    </p>
        <h2>{{produit.prix}} {{produit.quantite}}</h2></div>
</section>
{% endblock %}
