{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<style>
    body {
        text-align:center;
    }
    section {
        width:900px;
        margin-left: auto;
        margin-right: auto;
        border: solid #000;
        display:inline-block;
        padding: 4px;

    }

    .produit {
        width:50%;
        float:left;
    }


</style>

<section>
{% for p in produits %}
<div class="produit">
<p>IMAGE</P>
{# <img src="{{asset('images/produits/' ~ p.image )}}"> #}
<h2>PRIX QUANTITE PANIER</h2>
</div>
{% endfor %}

</section>
{% endblock %}
