{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<style>
		body {
			text-align: center;
		}

		div.titre {
			border: solid #000;
		}

		section {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color: white;
			background: linear-gradient(to left, #283593, #1976d2);
			width: 450px;
			height: 270px;
			border: 2px solid rgba(255, 255, 255, 0.1);
		}
	</style>
	<div id="titre">PAIEMENT</div>
	<section>Solutions de paiements</section>
	<a href="{{path('commande', {'id':commande.id})}}">
		<button>Modifier le panier</button>
	</a>
	<button>PAYER</button>
	<button>Annuler et retour vers la boutique</button>
</div>{% endblock %}
